/* ==UserStyle==
@name           BIT-物理实验中心-实验选修
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    不要转圈圈
@author         Y.D.X.
==/UserStyle== */

@-moz-document url-prefix("http://10.133.22.200:7100/XPK/StuCourseElective#") {
	.layui-layer-loading {
		width: 100% !important;
		height: 100% !important;
		top: 0 !important;
		left: 0 !important;
	}
	
	.layui-layer-loading .layui-layer-loading1 {
		width: 100%;
		height: 100%;
		background: url(https://s1.hdslb.com/bfs/static/jinkela/video/asserts/33.gif) no-repeat;
		background-position: 50%;
	}
}
